* {
    box-sizing: border-box;
} 
body {
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
}

/* Contenedor */
.content {
    width: 100%;
    max-width: 640px;
    height: 654px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Título */
.title {
    font-size: 18px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #000;

    position: relative;
    padding-bottom: 8px;
    margin-bottom: 16px;
}
.title:before {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 70px;
    height: 1px;
    background-color: #000;
}

/* Leyenda */
.legend {
    width: 130px;
    display: flex;
    justify-content: space-between;
    padding-left: 18px;
    margin-bottom: 24px;
}
.legend__item {
    font-size: 15px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000000;

    position: relative;
}
.legend__item--legal:before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -18px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ecb901;
}
.legend__item--ilegal:before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -18px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ede7e0;
}

/* SLIDER > Espacio botón */
#slider-control {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 24px;
}
.slider-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;

    flex-shrink: 0;

    width: 32px;
    height: 32px;
    background-color: #000;
    border-radius: 50%;
}
img.btnControl{
    cursor: pointer; 
}
img.btnControl#btnPause{
    display: none;
}
img.btnControl#btnPlay{
    transform: translateX(1px); 
}
.slider-text {
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #828282;
}

/* SLIDER > Espacio slider */
#slider-container {
    width: 100%;
    margin-bottom: 40px;
}

#slider { 
    margin: auto;
    -webkit-appearance: none;
    position: relative;
    overflow: hidden;
    height: 5px;
    width: 100%;
    cursor: pointer;
    border-radius: 0;
}

::-webkit-slider-runnable-track {
    background: #cecece;
}

/* 1. Set to 0 width and remove border for a slider without a thumb */
::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 0px; /* 1 */
    height: 0px;
    box-shadow: -100vw 0 0 100vw #000;
    border: 5px solid #000; /* 1 */
}

::-moz-range-track {
    height: 5px;
    background: #cecece;
}

::-moz-range-thumb {
    height: 0px;
    width: 0px;
    box-sizing: border-box;
    box-shadow: -100vw 0 0 100vw #000;
    border: 5px solid #000; /* 1 */    
}

::-ms-fill-lower { 
    background: #cecece;
}

::-ms-thumb {
    box-sizing: border-box;
    box-shadow: -100vw 0 0 100vw #000;
    border: 5px solid #000; /* 1 */   
    height: 0px;
    width: 0px;    
}

::-ms-ticks-after { 
    display: none; 
}

::-ms-ticks-before { 
    display: none; 
}

::-ms-track { 
    background: #cecece;
    color: transparent;
    height: 5px;
    border: none;
}

::-ms-tooltip { 
    display: none;
}

#slider-dates {
    display: flex;    
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    position: relative;

    font-size: 15px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.61px;
    color: #b4b4b4;
}

#slider-dates #minDate {
    position: relative;
}
#slider-dates #maxDate {
    position: relative;
}

#slider-dates #sliderDate {
    font-size: 15px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.61px;
    color: #000;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Mapa */
#map {
    width: 100%;
    max-width: 640px;
    height: 350px;
    margin: 0 auto;
    margin-bottom: 24px;
}

/* Tooltip del mapa */
.mapboxgl-ctrl-geocoder--input {
    font-size: 15px !important;
}

.mapboxgl-popup {
    font-family: 'Roboto';

    box-sizing: border-box;                
    pointer-events: none;
}

.mapboxgl-popup .popup-content .popup-title {
    font-size: 15px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.13px;
    color: #000000;

    margin-bottom: 8px;
}

.mapboxgl-popup .popup-content .popup-text {
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.13px;
    color: #000000;
    margin-bottom: 4px;
}

/* Fuente de datos */
.data-source {
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #000000;
}
.data-source .bold {
    font-weight: bold;
}

/* Media queries */
@media only screen and (max-width: 525px) {
    .title span {
        display: block;
        line-height: 1.22;
    }
}
